{% load static %}

<section class="menu-section">

    <div
        class="category-list"
        id="category-list"
    >
        <!-- JavaScript -->
    </div>


    <div
        class="cart-summary"
        id="cart-summary"
    >
        🛒 سبد خرید:

        <span id="cart-count">
            0
        </span>

        محصول

        |

        <span id="cart-total">
            0
        </span>

        تومان
    </div>


    <div
        class="products"
        id="products-container"
    >
        <!-- Products from API -->
    </div>

</section>

<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>